$color1: #9bcbd2;
$color2: #a2d1d7;
$color3: #aad7dd;
$color4: #b1dce2;
$color5: #f3f3db;
$color6: #eef4dd;
$color7: #eaf4df;
$color8: #e7f5e1;
$color9: #e4f6e3;
$color10: #e4f7e7;
$color11: #6ebd93;
$color12: #74c399;
$color13: #7bca9f;
$color14: #82cfa6;
$color15: #d9aa8f;
$color16: #dabc90;
$color17: #dbce92;
$color18: #d9dc94;
$color19: #cadd95;
$color20: #bbde97;
$color21: #cd90bb;
$color22: #d297c2;
$color23: #d89ec8;
$color24: #dda6cd;
$color25: #c6e5ec;
$color26: #c8dded;
$color27: #c9d7ed;
$color28: #cbd0ee;
$color29: #d0cdef;
$color30: #d9cff0;
