<!doctype html>
<html class="no-js">


<head>
  <meta charset="utf-8">
  <title>Milanography</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" />
  <link rel="stylesheet" href="../static/styles/main.css">
  

</head>

<body>
    <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <div class="container">

              <header>
                <div class="header">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <h3 class="text-muted">Milanography</h3>
                    <h4 class="text-muted">Disegna il tuo quartiere!</h4>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills pull-right">
                      <li><a class='text-muted' href="index.html">Home</a></li>
                    </ul>
                  </div>
                </div>
              </header>

              
              
              <div class="row about">
                <div class="col-lg-12">
                  <h3 class="text-muted">Il progetto</h3>
                  <h2 class="text-muted">Milano, un quartiere alla volta</h2>
                  
                  <p>Milanography è un progetto di mappatura partecipata dei quartieri di Milano.</p>

                  <p>Lo scopo è restituire l'immagine condivisa della città, così come viene percepita dagli abitanti, a partire delle unità territoriali più vicine al sentire comune ed alla vita quotidiana dei cittadini, i quartieri appunto. <br/>
                    Per farlo propone uno strumento semplice ed spontaneo: il disegno.<br/>
                    A partire proprio dalla sovrapposizione dei disegni, così raccolti, sarà possibile far emergere le diverse parti della città.<br/>
                    Qui è possbile vedere alcuni risultati preliminari:</p>

                    <p>Milanography prende il via dalle esperienze di mapping partecipativo quali "<a href="http://saintamh.org/maps/areas-of-edinburgh/">Areas of Edinburgh</a>","<a href="https://hood.theory.org/">The Neighborhood Project</a>"  ed in particolare dal progetto di ricerca <strong><a href="http://bostonography.com/neighborhoods/">Bostonography</a></strong> di <a href="http://andywoodruff.com/">A.Woodruff</a> e <a href="https://twitter.com/wallacetim">T.Wallace</a>.</p>

                    <p>A differenza di queste esperienze, Milanography è però costruito interamente su  uno <strong>stack open</strong>: <em>Postgres/Postgis + Flask + LeafletJS</em>. Questo è il cuore su cui corre il progetto.<br/>
                      Milanography è inoltre rilasciato apertamente su Github a <a href="https://github.com/miccferr/milanography">quest'indirizzo</a>.
                      Tutti sono invitati a contribuire, modificare e migliorare il progetto.</p>


                    </div>
                  </div>


                  <div class="row about">
                    <div class="col-lg-12">
                      <div class="tilde text-muted">
                        <p>&#126</p>  
                      </div>
                    </div>
                  </div>


                  <div class="row about eng">
                    <div class="col-lg-12">
                      <h3 class="text-muted">The project</h3>
                      <h2 class="text-muted">Milan, one neighborhood at a time</h2>
                      <p>Milanography is a partecipative mapping project focused on Milan's neighborhoods.</p>

                      <p>It aims to make visible the "shared" image of the city, as perceived by its inhabitants, by mapping the closest spatial unit to their daily life. Which is precisely the neighborhood. <br/>
                        It does so through a simple yet intuitive and spontaneous medium: by drawing.<br/>
                        The percieved shapes of what is collectively addressed as Milan will naturally emerge by overlapping the drawings hence collected.<br/>
                        Here can be found some preliminary results:</p>

                        <p>Milanography spawns from similar experiences, such as "<a href="http://saintamh.org/maps/areas-of-edinburgh/">Areas of Edinburgh</a>", "<a href="https:%20//hood.theory%20.org%20/">The Neighborhood Project</a> "and in particular the  <strong> <a href="http://bostonography.com/neighborhoods/">Bostonography</a> </strong> research project by <a href="http://andywoodruff.com/">A.Woodruff</a> and <a href="https://twitter.com/wallacetim">T .Wallace</a>.</p>

                        <p>Unlike those experiences though, Milanography is entirely built onto an <strong>open-stack</strong>: <em>Postgres / PostGIS + Flask + LeafletJS</em>.<br/>
                          Milanography code is also released publicly on Github at <a href="https://github.com/miccferr/milanography">this address</a>. </br>
                          Everyone is warmly encouraged to contribute to and to improve the project.</p>
                        </div>
                      </div>






                    </div><!-- end container -->
                    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
                    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                    <script>
                      // toggles class from nav for mobile
                      function resizeNavbar (){
                      if ($(window).width() < 768) {
                           $('.nav-pills').removeClass('pull-right');
                           $('.nav-pills > li').addClass('centerContent')
                        }else{
                          $('.nav-pills').addClass('pull-right');
                          $('.nav-pills > li').removeClass('centerContent');
                        }
                      }
                      // when the page loads
                      $( window ).ready(resizeNavbar);
                      // when it changes size
                      $( window ).resize(resizeNavbar);
                      </script>

                  </body>

                  </html>
