<!doctype html>
<html class="no-js">
<!--CERCARE flask xsrf  PER ROBE SU SICUREZZA DATI-->

<head>
    <meta charset="utf-8">
    <title>Milanography</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" />
    <style>
        <style> 
            body {
                padding: 0;
                margin: 0;
            }      
            html,
            body,
            #map {

                height: 500px;

            }

        </style>
        <link rel="stylesheet" href="../static/styles/main.css">
        <!-- endbuild -->
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
    </head>

    <body>
    <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="container">
            <div class="header">
                <h3 class="text-muted">Milanography</h3>
            </div>
            <form method="POST" action="/save_json">
                <div class="row marketing">
                    
                    <!-- Mappa -->
                    <div id="map" class="col-lg-12">
                        <nav class='menu-ui'>
                          <a id='Lambrate' href='#' >Lambrate</a>
                          <a id='Niguarda' href='#'   >Niguarda</a>
                          <a id='redraw' href='#' class="modificatori"  >Redraw</a>
                          <h3 id='redraw-done' class="modificatori">Done!</h3>
                          <a id='delete' href='#' class="modificatori">Delete</a> 
                          <h3 id='delete-done' class="modificatori">Done!</h3>
                        </nav>
                    </div>
                    <!-- Area di stampa a video -->
                    <div id="comandi" class="col-lg-12">
                        <br>
                        <span>Stampa a video del geoJSON prodotto dai poligoni</span>
                        <textarea id="data" name="data" rows="12" style="width:100%"></textarea>
                    </div>
                
                </div>              
                <!-- Bottone per salve disegno su db-->
                <div class="row ">
                    <div class='col-md-12 text-center' style='text-align:center;'>
                        <input type="submit" name="salva-disegno" value="Salva il disegno" id="save-drawing" class="btn btn-success btn-lg ">
                    </div>
                </div>
            </form>
            <br/>
            
            <div class="row ">
                <form method="GET" action="/display_drawings">
                    <div class='col-md-12 text-center' style='text-align:center;'>
                        <input type="submit" name="recupera-disegno" value="Recupera i disegni" id="retrieve-drawing" class="btn btn-info btn-lg ">
                    </div>
                </form>
            </div>
        </div>

        <!-- Export Data -->
        <div class="row marketing">
        <h3 style='text-align:center;'>Download geoJSON:</h3>
            <!-- esporto txt tramite js-->
            <form method="POST">
                <div class='col-md-6 col-xs-6' style='text-align:center;'>
                    <input type="button" name="esporta-file-txt" value="Esporta Disegno" id="export-txt" class="btn btn-primary btn-lg " onclick="saveAs(stampoSuFile(drawnItems.toGeoJSON()), 'nome_file.js');">
                </div>
                <!-- esporto json recuprendolo dal db tramite flask-->
                <div class='col-md-6 col-xs-6' style='text-align:center;'>
                    <input type="button" name="esporta-file-json" value="Esporta .json" class="btn btn-primary btn-lg " >
            <!-- <form action="/export-json" method="post">
                <input type="submit" value="Signup"></input>
            </form>
            <form action="/prova" method="post">
                <input type="submit" value="prova"></input>
            </form> -->
                </div>
                         <script>
                        var someJavaScriptVar = '{{ cicci }}';
                        console.log(someJavaScriptVar);
                     </script>
            </form>
</div>
<!-- Footnote -->
<div class="row">
    <div class='col-md-offset-3 col-md-6 col-md-offset-3 ' style='text-align:center;'>
        <p>
            <span style="font-weight:bold">NOTA:</span>Il bottone "esporta .json" serve solo per stampare facilmente da db il JSON, visto che quando lo schiacci flask esegue l'export dal db sqlite. In futuro andrà rimosso perchè prevedi di implementare una funzione di export da remoto, da lanciare a tuo piacimento per recuperare un dump del db ogniqualvolta desideri.</p>
        </div>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->


    <!-- build:js({app,.tmp}) scripts/main.js -->
    <!-- <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js">  </script> -->    
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script src="../static/bower_components/Leaflet.draw/dist/leaflet.draw.js">  </script>
    <script src="../static/bower_components/filesaver/FileSaver.min.js"></script>
    <script src="../static/scripts/main.js">  </script>

    <!-- endbuild -->


</body>

</html>
