
Milanography è un progetto di mappatura partecipata dei quartieri di Milano.  

Lo scopo è restituire l'immagine condivisa della città, così come viene percepita dagli abitanti, a partire delle unità territoriali più vicine al sentire comune ed alla vita quotidiana dei cittadini, i quartieri appunto. Per farlo propone uno strumento semplice ed spontaneo: il disegno. 
A partire proprio dalla sovrapposizione dei disegni, così raccolti, sarà possibile far emergere le diverse parti della città.
Qui i risultati di un primo esperimento: 


Milanography prende il via dalle esperienze di mapping partecipativo quali [1],[2]  ed in particolare dal progetto di ricerca Bostonography [3] di A.Woodruff http://andywoodruff.com/ e T.Wallace https://timwallace.wordpress.com/

A differenza di queste esperienze, Milanography è però costruito interamente su uno stack open: Postgres/Postgis + Flask + LeafletJS. Questo è il cuore (open) su cui corre il progetto. Milanography è inoltre rilasciato apertamente su Github a quest'indirizzo: 
Tutti sono invitati a contribuire, forkare, modificare e migliorare il progetto.
Forka il progetto e portalo alla tua città, avvicinando i




[1] <a href="http://saintamh.org/maps/areas-of-edinburgh/">http://saintamh.org/maps/areas-of-edinburgh/</a>
[2] <a href="https://hood.theory.org/">https://hood.theory.org/</a>
[3] <a href="http://bostonography.com/neighborhoods/">http://bostonography.com/neighborhoods/</a>






ROBACCIA

Lo scopo è far emergere l'immagine della città, e delle sue unità territoriali più vicine al sentire comune ed alla vita quotidiana dei cittadini - i quartieri appunto - in modo da restituire un'immagine condivisa di quello che Milano è, attraverso le sue parti, per   conin maniera spontanea ed attraverso la p
