/*----------------------------------------------------
                      TYPOGRAPHY
---------------------------------------------------- */
@font-face {
  font-family: 'Bubbleboddy';
  src: url('../fonts/Bobbleboddy.ttf')  format('truetype')
       
}
@font-face {
  font-family: 'Bubbleboddy-Light';
  src: url('../fonts/Bobbleboddy_light.ttf')  format('truetype')
       
}

/*----------------------------------------------------
                      STYLE
---------------------------------------------------- */
/*colors*/
/*green #46DE46*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  font-family: 'Bubbleboddy', sans-serif;
  font-size: 4.2em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header h4 {
  font-family: 'Bubbleboddy-Light', sans-serif;
  font-size: 1.5em;
  }

.header li a {
  padding-top: 66px;
  padding-bottom: 0px;
  margin: 0;
  font-family: 'Bubbleboddy-Light', sans-serif;
  font-size: 1.5em;
}
.navbar-toggle {
  margin-left: 50%;
}

.navbar-toggle .icon-bar{
  background-color: #999999;
}

.about{
  padding-top: 20px;
}

.about h3 {
  font-family: 'Bubbleboddy', sans-serif;
  font-size: 2.7em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.about h4 {
  font-family: 'Bubbleboddy-Light', sans-serif;
  font-size: 1.2em;
  }



/*----------- Menù tipo mapbox---------------*/
ul
{
  list-style-type: none;
  padding:0; margin:0;
}

.menu-ui {
  /*background:#fff;*/
  color: #000;
  position:absolute;
  top:10px;
  right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  /*border:1px solid rgba(0,0,0,0.4);*/
}
.menu-ui span {
  font-size:13px;  
  display: block;  
  /*margin:0;padding:0;*/
  padding:5px 10px;
  text-decoration:none;
  /*border-bottom:1px solid rgba(0,0,0,0.25);*/
  text-align:center;
}

.menu-ui h3 {
  display: inline-block;  
  text-decoration:none;
  text-align:center;
  padding: 5px 10px
}
.menu-ui h3:hover {
  color: #f7f7f7;
}

.menu-ui span:first-child {
  border-radius:3px 3px 0 0;
}
.menu-ui span:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}
.menu-ui span:hover {
  background:#f8f8f8;
  color:#000;
}
.menu-ui span.active {
  background:#3887BE;
  color:#fff;
}
.menu-ui span.active:hover {
  background:#3074a4;
}

.btn-quartieri.selected{
  color: red;
}
#redraw {background: #fe7f43 ;  width:120px;}
#redraw-done {background: #feb38f ; display: none; width:120px; position: relative; top: 0; margin: 0; line-height: 20px; font-size: 12px;}
#delete {background: #fe4365 ;  width:120px; margin-top: 0px; }
#delete-done {background: #fe8fa3 ; display: none;  width:120px; position: relative; top: 0px; margin: 0; line-height: 20px; font-size: 12px;}

.soft-color{
  background:#67B567;
}

/*---------MAP----------------------*/
#map {
      height: 1000px;
    }



/*---------- Responsive:------------
Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  /*.header,*/
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
 
  .header h3{
    font-size: 4.5em;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
